@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.text-color-accent {
    color: #3A7CEE;
}
.text-color-white {
    color: #D5E3FB;
}

secondaryBg {
    background-color: #1259D3;
}
.letter {
    display: inline-block;
    text-shadow: 0px 3px 4px #00000037; /* You can adjust the shadow values */
}

@font-face{
    font-family:'GothamBold';
    src: url('../fonts/GothamBold.ttf') format('truetype')
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

:root {
    --bs-body-bg: #020813;
    --bs-body-font-family: 'GothamBold';
    --bs-bg-light: #1259D3;
    --bs-secondary: #1259D3;
}

.container {
    border: none;
    background-color: #020813;
}

.container-bg {
    background-color: #3A7CEE;
    border: none;
}

.navbar, .footer {
    background-color: #3A7CEE;
    border: none;
}

.navbg {
    background-color: #3A7CEE;
}

.page-container {
    max-width: 768px;
}

nav {
    min-height: 80px; /* Set your desired minimum height */
}

.bg-primary {
    background-color: #7E9DE5;
}
.bg-secondary {
    background-color: #1259D3;
}

.bg-color {
    background-color: #1259D3;
    border: none;
}
.font-big{
    font-size: 78px;
}

.shadow {
    box-shadow: 0px 3px 4px #000000d9;
}

.scrollable-container {
    overflow: hidden;
}

.hideScroll::-webkit-scrollbar {
    display: none;
}

.hideScroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}